<nav class="navbar fixed-bottom navbar-light bg-faded">
  <div class="nav navbar-nav justify-content-around">
    <rl-user-menu></rl-user-menu>
    <a class="nav-item nav-link"
       [routerLink]="['/dashboard']"
       [routerLinkActive]="['text-warning']"
       align="center"
       title="Dashboard">
      <i class="fa fa-area-chart"></i>
    </a>
    <a class="nav-item nav-link"
       [routerLink]="['/']"
       [routerLinkActive]="['text-warning']"
       [routerLinkActiveOptions]="{exact: true}"
       align="center"
       title="Items">
      <i class="fa fa-list"></i>
    </a>
    <a class="nav-item nav-link"
       [routerLink]="['/tags']"
       [routerLinkActive]="['text-warning']"
       align="center"
       title="Tags">
      <i class="fa fa-tags"></i>
    </a>
  </div>
</nav>
