<div [class.viewed]="item.viewedAt" class="flex-container">
  <a (click)="visitURL()"
     [href]="item.url"
     target="_blank"
     class="content"
     [class.non-clickable]="previewMode">

    <div class="image"
         [ngStyle]="item.imageUrl ? {'background-image': 'url('+item.imageUrl+')'} : {}">
      <img *ngIf="!item.imageUrl"
           src="../../../../assets/item-image-placeholder.svg"
           alt="No image for this link">
    </div>

    <div class="text">

      <h6 class="title" [class.title-hint]="!previewMode">
        {{item.title}}
      </h6>

      <div class="additional-info">

        <small class="priority text-muted">
        <span class="badge badge-pill"
              [class.priority-hint]="!previewMode"
              [ngClass]="'badge-'+getPriorityClass(item.priority)">
          {{getPriorityString(item.priority)}}
        </span>
        </small>

        <small *ngIf="item.tags.length" class="additional-info-separator">
          |
        </small>

        <small class="tags text-muted">
        <span class="badge badge-primary"
              [class.tag-hint]="!previewMode"
              *ngFor="let tag of item.tags">
          {{tag.name}}
        </span>
        </small>
      </div>

    </div>

  </a>

  <div *ngIf="!previewMode" ngbDropdown class="actions">
    <button ngbDropdownToggle type="button"
            class="btn btn-icon no-arrow dropdown-toggle">
      <i class="fa fa-fw fa-ellipsis-v toggle-menu-icon"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item"
         [routerLink]="['/items', item._id]">
        Edit
      </a>
      <div *ngIf="item.viewedAt" class="dropdown-divider"></div>
      <a *ngIf="item.viewedAt" class="dropdown-item disabled"
         href="javascript:;">Viewed {{item.viewedAt | amTimeAgo}}</a>
      <a *ngIf="item.viewedAt"
         class="dropdown-item"
         (click)="markAsUnseen()">
        Mark as unread
      </a>
      <div *ngIf="item.viewedAt" class="dropdown-divider"></div>
      <a class="dropdown-item"
         (click)="remove()">
        Delete
      </a>
    </div>
  </div>

  <div *ngIf="previewMode" class="actions">
    <button type="button"
            class="btn btn-icon no-arrow preview-button"
            (click)="previewEditButtonClick.emit()"
            [disabled]="previewEditButtonDisabled">
      <i class="fa fa-fw fa-pencil toggle-menu-icon"></i>
    </button>
  </div>

</div>
