<div [class.viewed]="item.viewedAt" class="flex-container">
  <a (click)="visitURL()" [href]="item.url" target="_blank" class="content">

    <h6 class="title">
      {{item.title}}
    </h6>

    <div class="additional-info">

      <small class="priority text-muted">
        <span class="badge badge-pill"
              [ngClass]="'badge-'+getPriorityClass(item.priority)">
          {{getPriorityString(item.priority)}}
        </span>
      </small>

      <small *ngIf="item.tags.length" class="additional-info-separator">
        |
      </small>

      <small class="tags text-muted">
        <span class="badge badge-primary"
              *ngFor="let tag of item.tags">
          {{tag}}
        </span>
      </small>
    </div>

  </a>

  <div ngbDropdown class="actions">
    <button ngbDropdownToggle type="button" class="btn btn-icon no-arrow">
      <i class="fa fa-ellipsis-v toggle-menu-icon"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item"
         [routerLink]="['/items', item._id]">
        Edit
      </a>
      <div *ngIf="item.viewedAt" class="dropdown-divider"></div>
      <a *ngIf="item.viewedAt" class="dropdown-item disabled"
         href="javascript:;">Viewed {{item.viewedAt | amTimeAgo}}</a>
      <a *ngIf="item.viewedAt"
         class="dropdown-item"
         (click)="markAsUnseen()">
        Mark as unread
      </a>
      <div *ngIf="item.viewedAt" class="dropdown-divider"></div>
      <a class="dropdown-item"
         (click)="remove()">
        Delete
      </a>
    </div>
  </div>
</div>
