<rl-editor-header
  (done)="submit()"
  [doneDisabled]="isSubmitDisabled()"
  [text]="item ? 'Edit Item' : 'Create Item'"
  (cancel)="cancel.emit()"></rl-editor-header>

<form [formGroup]="mainForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="urlInput">URL:</label>
    <input type="text"
           class="form-control"
           placeholder="Enter URL"
           [formControl]="mainForm.controls['url']"
           id="urlInput">
  </div>

  <div class="form-group priority">
    <div><label>Priority:</label></div>
    <button class="btn btn-sm btn-success"
            [class.active]="itemClone.priority===1"
            (click)="registerItemCloneChanges({priority: 1})">
      Top
    </button>
    <button class="btn btn-sm btn-info"
            [class.active]="itemClone.priority===2"
            (click)="registerItemCloneChanges({priority: 2})">
      Medium
    </button>
    <button class="btn btn-sm btn-default"
            [class.active]="itemClone.priority===3"
            (click)="registerItemCloneChanges({priority: 3})">
      Low
    </button>
  </div>
</form>
<div class="form-group">
  <label for="tagsInput">Tags:</label>
  <input type="text"
         id="tagsInput"
         #tagsInput
         class="form-control"
         [ngbTypeahead]="searchTag"
         [editable]="false"
         [focusFirst]="true"
         [inputFormatter]="tagInputFormatter"
         [resultFormatter]="tagInputFormatter"
         (selectItem)="tagsInputSelectedEvent($event)">
</div>

<div class="selected-tags">
  <button class="tag btn btn-sm btn-primary"
          *ngFor="let tag of itemClone.tags"
          (click)="removeTag(tag)">
    <span>{{tag.name}}</span>
    <i class="fa fa-times"></i>
  </button>
</div>

<hr/>

<div class="preview" *ngIf="itemClone.url">
  <h4>Preview:</h4>
  <rl-items-line [item]="itemClone"
                 [previewMode]="true"
                 (previewEditButtonClick)="editMode = !editMode"
                 [previewEditButtonDisabled]="editMode && this.metaDataForm.invalid"></rl-items-line>

  <form *ngIf="editMode" [formGroup]="metaDataForm" (ngSubmit)="submit()">
    <hr/>
    <div class="form-group">
      <label for="titleInput">Title:</label>
      <input type="text"
             class="form-control"
             placeholder="Enter title"
             [formControl]="metaDataForm.controls['title']"
             id="titleInput">
    </div>
    <div class="form-group">
      <label for="imageUrlInput">Image URL:</label>
      <input type="text"
             class="form-control"
             placeholder="Enter image URL"
             [formControl]="metaDataForm.controls['imageUrl']"
             id="imageUrlInput">
    </div>
    <div class="form-group">
      <label for="descriptionInput">Description:</label>
      <textarea class="form-control"
                placeholder="Enter description"
                [formControl]="metaDataForm.controls['description']"
                id="descriptionInput"
                rows="4"></textarea>
    </div>
  </form>

</div>
