<rl-shared-header></rl-shared-header>
<div class="text-center mb-1">
  <a href="https://github.com/spy4x" target="_blank">
    <img src="https://avatars2.githubusercontent.com/u/4995814?v=3&s=270"
         class="rounded-circle">
  </a>
</div>

<p>
  Hello! My name is Anton Shubin. I'm web developer from Russia, Voronezh.
</p>

<p>
  I've created this app as "app for myself" and to show my code examples on
  GitHub.
</p>

<p>
  Please feel free to contact me,
  <a href="https://github.com/spy4x/reading-list-frontend/issues"
     target="_blank">
    report an issue,
  </a>
  or contribute to this project on GitHub.
</p>

<p>
  Have a nice day! ;)
</p>

<address class="contact-info">
    <a href="https://github.com/spy4x"
       target="_blank">
      <i class="fa fa-fw fa-github"></i>spy4x
    </a>
    <a href="https://twitter.com/spy4x"
       target="_blank">
      <i class="fa fa-fw fa-twitter"></i>spy4x
    </a>
    <a href="mailto:2spy4x@gmail.com">
      <i class="fa fa-fw fa-envelope-o"></i>2spy4x@gmail.com
    </a>
</address>
