<rl-editor-header (done)="submitData(form.value)"
                  [doneDisabled]="form.invalid"
                  [text]="tag ? 'Edit Tag' : 'Create Tag'"
                  (cancel)="cancel.emit()"></rl-editor-header>
<form [formGroup]="form" (ngSubmit)="submitData(form.value)">

  <div class="form-group">
    <label for="nameInput">Name:</label>
    <input type="text"
           class="form-control"
           placeholder="Enter tag name"
           [formControl]="form.controls['name']"
           id="nameInput">
  </div>

</form>
