@import '~bootstrap/dist/css/bootstrap.css';
@import '~intro.js/introjs.css';
@import '~intro.js/themes/introjs-modern.css';
@font-face {
  font-family: dadhand;
  src: url(assets/dadhand.ttf);
}

rl-app .loading-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.non-clickable {
  pointer-events: none;
}

.btn-circle {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  outline: 0 !important;
}

.btn-circle:active {
  outline: 0 !important;
}

.btn-circle:focus {
  outline: 0 !important;
}

.btn-icon {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  outline: 0 !important;
  background: none;
}

.btn-icon:active {
  outline: 0 !important;
}

.btn-icon:focus {
  outline: 0 !important;
}

.no-arrow.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  z-index: 1040;
}

/* .rl-header START */
.rl-header {
  height: 52px
}

.rl-header .btn-icon {
  color: inherit;
  margin-right: -9px;
}

.rl-header .flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 36px;
}

.rl-header input.search {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}

.rl-header .text-with-fa-2x-icon {
  padding-top: 7px;
}

a.disabled {
  color: grey;
}

a, a:focus, a:hover {
  text-decoration: none;
}

/* .rl-header END */

.introjs-tooltip {
  background-color: rgba(000, 0, 0, 0.86);
  min-width: 300px;
}
.introjs-hintReference .introjs-tooltip {
  min-width: 150px;
}

.introjs-tooltip, .introjs-button  {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 1rem;
}

.introjs-overlay {
  z-index: 10000;
}

.introjs-hints .introjs-hint {
  z-index: 10001;
}

.introjs-hint-dot{
  background-color: rebeccapurple;
}
.introjs-hint-pulse {
  background-color: rebeccapurple;
}
