@import '~bootstrap/dist/css/bootstrap.css';

rl-app .loading-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-circle {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  outline: 0 !important;
}

.btn-circle:active {
  outline: 0 !important;
}

.btn-circle:focus {
  outline: 0 !important;
}

.btn-icon {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  outline: 0 !important;
  background: none;
}

.btn-icon:active {
  outline: 0 !important;
}

.btn-icon:focus {
  outline: 0 !important;
}

.no-arrow.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  z-index: 1040;
}

/* .rl-header START */

.rl-header .btn-icon {
  color: inherit;
  margin-right: -9px;
}

.rl-header .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.rl-header input.search {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  margin: 0 5px 0 15px;
}

/* .rl-header END */
